.news-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: .5s;
    border: 1px solid rgb(102, 135, 207);
    margin: 2%;
}

.news-image figure {
    margin: 5% 3% 5% 3%;
}

.news-image img{
    width: 100%;
}

.news-image h2{
    color: #fff;
    text-align: center;

}

.news-image:hover {
    border: 2px solid #fff;
}

@media only screen and (min-width: 768px) {
    .news {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .news-image {
        width: 31%;
        margin: 3% 0 1% 0;
    }

    .news-image:nth-child(odd) {
        margin-left: 1%;
        margin-right: 1%;
    }
}