:global .signup-box {
    position : absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 1em;
}

:global .signup-box input {
    border: 1px solid #dbdbdb;
}

:global .signup-box input[type='submit'] {
    background: #3897f0;
    color: white;
    padding: .3em;
}

:global .signup-box span{
    color: red;
}

@media (min-width: 768px) {
    :global .signup-box {
        font-size: 1.3em;
    }
}