:global .signup-box {
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 0 .5em .5em .5em;
    font-size: 1.5em;
}

:global .signup-box input {
    border: 1px solid #dbdbdb;
}

:global .signup-box input[type='submit'] {
    background: #3897f0;
    border-color: #3897f0;
    color: white;   
    padding: .5em 1em .5em 1em;
}

:global .signup-box span{
    color: red;
}

@media (min-width: 768px) {
    :global .signup-box {
        position : absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: white;
        padding: 0 .5em .5em .5em;
        font-size: 2em;
        height: 90%;
    }
    
    :global .signup-box input {
        border: 1px solid #dbdbdb;
    }
    
    :global .signup-box input[type='submit'] {
        background: #3897f0;
        border-color: #3897f0;
        color: white;   
        padding: .5em 1em .5em 1em;
    }
    
    :global .signup-box span{
        color: red;
    }
}